/* ========= Google Font ============== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&display=swap');

/* ========= VARIABLES CSS ==========*/
:root{
    --header-height: 3.5rem;  /* 56px */

    /* ==== Colors ========= */
    --dark-color: #191D28 ;
    --dark-color-alt: #1e222d ;
    --main-color: #f0083f ;
    --main-color-alt: #ff164c ;
    --title-color: #ffffff ;
    --text-color: #e9e9e9 ;

    /*========== Font and Typography ========== */
    /*  0.5rem = 8px | 1rem = 16px  */
    --body-font: 'poppins' , sans-serif ;
    --big-font-size: 3.5rem; 
    --h1-font-size: 2.25rem; 
    --h2-font-size: 1.5rem; 
    --h3-font-size: 1.25rem; 
    --normal-font-size: 1rem; 
    --small-font-size: 0.875rem; 
    --smaller-font-size: 0.813rem;
    
    /* ======== Font Weight =========== */

    --font-medium: 500;
    --font-semi-bold: 600;

    /* ========= margenes Botton ============= */

    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    
    /* ========== Z index ========= */
    --z-fixed: 100;

}

@media screen and (max-width: 992px){
    :root{
        --big-font-size: 2.25rem; 
        --h1-font-size: 1.5rem; 
        --h2-font-size: 1.25rem; 
        --h3-font-size: 1rem; 
        --normal-font-size: 0.938rem; 
        --small-font-size: 0.813rem; 
        --smaller-font-size: 0.75rem;
    }
    
}

/* ================ BASE ================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
button,
input,textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--dark-color);
    color: var(--title-color);
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* ============== Layout ================ */

.container{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}
.grid{
    display: grid;
}
.contact-container,
.accordion-container,
.feature-container,
.home-container{
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 2rem;
}
/* ============== BUTTONS ================ */
.button{
    display: inline-block;
    background-color: var(--main-color);
    color: var(--title-color);
    padding:  1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.button:hover{
    background-color: var(--main-color-alt);
}
.button-icon{
    transition: 0.3s;
}
.button:hover .button-icon{
    transform: translateX(0.25rem);
}
.button-flex{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}
/* ============== REUSABLE CSS CLASSES ================ */
.section{
    padding: 8rem 0 1rem;
}
.section-title{
    font-size: var(--h1-font-size);
    margin-bottom: 4rem;
    font-weight: var(--font-semi-bold);
    text-align: center;
}
.image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-app-mock{
    position: relative;
    width: 272px;
}
.banner-app-mock .main-img{
    margin-top: 20px;
    margin-left: 15px;
    width: 240px;
    height: 520px;
}
.banner-app-mock .mockup{
    width: 272px;
    height: 552px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.mobile-graphic{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}



/* ============== HEADER ================ */
.header{
    width: 100%;
    background-color: var(--dark-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* ============== NAV ================ */
.nav{
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}
.nav-logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    font-weight: var(--font-medium);
    column-gap: 0.5rem;
}
.nav-logo-img{
    width: 1.25rem;
}
.nav-list{
    display: flex; 
    flex-wrap: wrap;
    column-gap: 3rem;
}
.nav-link{
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.nav-link:hover{
    color: var(--main-color);
}
.nav-link,
.nav-logo,
.nav-toggle{
    color: var(--title-color);
}
.nav-close{
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}
.nav-toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-close,
.nav-toggle{
    display: none;
}

/* ======== Active Link ================= */
.active-link{
    position: relative;
    color: var(--main-color);
}
.active-link::after{
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
}
/* ============== HOME ================ */
.home{
    padding: 12rem 0 5rem;
}
.home-data{
    align-self: center;
}
.home-title{
    font-size: var(--big-font-size);
    line-height: 120%;
    margin-bottom: var(--mb-1);
}
.home-title span{
    color: var(--main-color);
}
.home-description{
    margin-bottom: var(--mb-2-5);
    line-height: 2.2rem;
}
/* ============== FEATURES ================ */
.feature-inside{
    align-self: center;
}
.feature-inside ul li h3{
    font-size: var(--h3-font-size);
    padding-bottom: var(--mb-1);
}
.feature-inside ul li p{
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
}
.feature-inside ul li:hover h3{
    color: var(--main-color);
}
.feature-inside ul li:hover p{
    color: var(--main-color-alt);
}
.feature-inside ul li{
    width: 100%;
    padding-bottom: var(--mb-2-5);
    padding-left: 70px;
    position: relative;
}
.feature-inside ul li img{
    position: absolute;
    left: 0;
    top: 0;
}
.btn-group{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}
.btn-group .button{
    position: relative;
    padding-left: 45px;
    padding-right: 18px;
    text-align: left;
}
.btn-group .button i{
    position: absolute;
    left: 8px;
    top: 24px;
}
/* ============== PRICING ================ */
.pricing-container{
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}
.pricing-plan{
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}
.pricing-plan .pricing-header{
    padding: 20px 30px;
    position: relative;
}
.pricing-plan .pricing-header h3{
    font-size: var(--h3-font-size);
    text-transform: capitalize;
}
.best-value{
    position: absolute;
    right: -35%;
    top: 50%;
    width: 100%;
    background-color: var(--main-color);
    text-transform: capitalize;
    transform: rotate(50deg);
    font-size: var(--h3-font-size);
    text-align: center;
    padding: 10px 0;
}
.pricing-plan .pricing-price{
    padding: 40px 30px;
    display: flex;
    line-height: 0.7;
}
.pricing-plan .pricing-price .currency{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-right: 5px;
    align-self: flex-start;
}
.pricing-plan .pricing-price .price{
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--main-color);
}
.pricing-plan .pricing-price .period{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-right: 5px;
    align-self: flex-end;
    text-transform: uppercase;
}
.pricing-plan .pricing-body{
    padding: 0 30px;
}
.pricing-plan .pricing-body ul li{
    font-size: var(--small-font-size);
    font-weight: 300;
    padding: 10px 0 10px 30px;
    line-height: 26px;
    position: relative;
}
.pricing-plan .pricing-body ul li i{
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 14px;
}
.pricing-plan .pricing-footer{
    padding: 40px;
    text-align: center;
}
/* ============== TEAM ================ */
.testimonial-item{
    padding:  2rem 0;
    background-color: var(--dark-color-alt);
    width: 340px;
    border-radius: 1rem;
    text-align: center;
}
.testimonial-item .img-box{
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-bottom: var(--mb-1);
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}
.testimonial-item .img-box img{
    border-radius: 50%;
    width: 100%;
}
.testimonial-item h3{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: capitalize;
    transition: 0.3s;
}
.testimonial-item span{
    display: block;
    margin-bottom: var(--mb-0-75);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
}
.testimonial-item ul li{
    display: inline-block;
    padding-left: 10px;
}
.testimonial-item ul li a{
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    transition: 0.3s;
}
.testimonial-item:hover ul li a,
.testimonial-item:hover h3,
.testimonial-item:hover span{
    color: var(--main-color);
}

/* ============== FAQ ================ */
.accordion-content{
    align-self: center;
}
.accordion-item{
    background-color: var(--dark-color-alt);
    transition: 0.3s;
}
.accordion-item:not(:last-child){
    margin-bottom: var(--mb-1);
}
.accordion-header{
    padding: 0.75rem;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    background-color: rgba(0,0,0,0.03);
    border-radius: 1px solid rgba(0,0,0,0.125);
}
.accordion-header h3{
    font-size: var(--h3-font-size);
    color: var(--main-color);
}
.accordion-body{
    height: 70;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.accordion-body p{
    font-size: var(--small-font-size);
    padding: 0.5rem 1.25rem;
    transition: 0.3s;
}
/* ============== CONTACT ================ */
.contact .section-title{
    text-align: left;
}
.contact-data{
    display: grid;
    row-gap: 2rem;
}
.contact-subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}
.contact-description{
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
} 
.contact-icon{
    font-size: 1.25rem;
}
.contact-inputs{
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
}
.contact-content{
    position: relative;
    height: 3rem;
    border-bottom: 2px solid var(--text-color);
}
.contact-content span{
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--main-color);
    transition: 0.5s;
}
.contact-input:focus ~ span{
    width: 100%;
}
 .contact-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    outline: none;
    border: none;
    z-index: 1;
}
.contact-label{
    position: absolute;
    top: 0.75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: 0.3s;
}
.contact-area{
    height: 7rem;
}
.contact-area textarea{
    resize: none;
}
.contact-input:focus + .contact-label{
    top: -0.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
    color: var(--main-color);
} 
/* ============== Footer ================ */
.footer-container{
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    column-gap: 3rem;
}
.footer-logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: var(--mb-2);
    font-weight: var(--font-medium);
    color: var(--text-color);
}
.footer-logo-img{
    width: 20px;
}
.footer-title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
}
.footer-subscribe{
    background-color: var(--dark-color-alt);
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    width: 400px;
}
.footer-input{
    width: 70%;
    padding: 0 0.5rem;
    background: none;
    outline: none;
    color: var(--text-color);
}
.footer-button{
    padding: 1rem;
}
.footer-data{
    display: grid;
    row-gap: 0.75rem;
}
.footer-information{
    font-size: var(--small-font-size);
}
.footer-social{
    display: inline-flex;
    column-gap: 0.75rem;
}
.footer-social-link{
    font-size: 1rem;
    color: var(--text-color);
    transition: 0.3s;
}
.footer-social-link:hover{
    color: var(--main-color);
}
.footer-copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
    margin: 7rem 0 2rem;
}

/* ============== BREAKPOINIS ================ */
@media screen and (max-width: 1200px) {
    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    
}
@media screen and (max-width: 992px){
    .home-description{
        line-height: 1.8rem;
    }
    .pricing-container,
    .footer-container{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media screen and (max-width: 768px){
    body{
        margin: var(--header-height);
    }
    .nav{
        height: var(--header-height);
    }
    .nav-list{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .nav-menu{
        position: fixed;
        background: var(--dark-color);
        width: 88%;
        height: -100%;
        top: 0;
        right: 100%;
        padding: 4rem 0 0 3rem;
        box-shadow: -2px 0 4px var(--dark-color);
        border-radius: 1rem 0 0 1rem;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
    .show-menu{
        right: 0;
    }
    .nav-close,
    .nav-toggle{
        display: inline-flex;
    }
    .section{
        padding: 5.5rem 0 1rem;
    }
    .home{
        padding: 5.5rem 0 1rem;
    }
    .footer-container,
    .contact-container,
    .accordion-container,
    .pricing-container,
    .feature-container,
    .home-container{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .feature-img{
        display: none;
    }
    .accordion-container{
        row-gap: 4rem;
    }
    .contact-container{
        row-gap: 3rem;
    }
    .image{
        justify-content: start;
    }
    .mobile-graphic{
        left: -5%;
    }
    .testimonial-item{
        width: 252px;
    }
}
@media screen and (max-width: 576px){
    .footer-subscribe{
        width: initial;
    }
}
@media screen and (max-width: 392px){
    .btn-group{
        flex-direction: column;
    }
    .feature-inside ul li{
        padding-bottom: var(--mb-2);
        padding-left: 60px;
    }
    .feature-inside ul li h3{
        padding-bottom: var(--mb-0-75);
    }
}
@media screen and (max-width: 320px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }
    .home-title{
        font-size: var(--h1-font-size);
    }
    .home-description{
        line-height: 1.4rem;
    }
    .btn-group{
        flex-direction: column;
    }
}